<article class="instrument">
    <h2>{{this.instrument.title}}</h2>
    <h3>{{this.instrument.type}}</h3>
    <h4>Beschrijving:</h4>
    <p>{{this.instrument.description}}</p>
    <img src="{{this.instrument.img}}" alt="">
</article>


