@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');

*{
    padding: 0;
}

h1, h2, h3, h4, li, p{
    font-family: 'Montserrat';
    color: white;
}

nav{
    background-color: 	#00b0bf;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
}

a:visited,a:link{
    color: white;
}

main{

    display: flex;
    justify-content: space-around;

}

.continent{
    padding: 1rem;
    width: 20%;
    background-color: 	#006bff;
    
}

.continent h2{
    text-align: center;
    color: white;
}

article{

    margin-top: .3rem;
    padding: 3rem;
    background-color: #0004ff;
}

article img{
    width: 30%;
}

.loading{
    color: black;
    text-align: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    text-align: center;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  