@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');

*{
    padding: 0;
}

h1, h2, h3, h4, li, p{
    font-family: 'Montserrat';
    color: white;
}

nav{
    background-color: 	#00b0bf;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
}

a:visited,a:link{
    color: white;
}

main{

    display: flex;
    justify-content: space-around;

}

.continent{
    padding: 1rem;
    width: 20%;
    background-color: 	#006bff;
    
}

.continent h2{
    text-align: center;
    color: white;
}

article{

    margin-top: .3rem;
    padding: 3rem;
    background-color: #0004ff;
}

article img{
    width: 30%;
}

.loading{
    color: black;
    text-align: center;
}