<nav>

    <ul>

        {{#link-to "index"}}
            <li>Continenten</li>
        {{/link-to}}

        {{#link-to "region-list"}}
            <li>Regio's</li>
        {{/link-to}}

        {{#link-to "places-list"}}
            <li>Plaatsen</li>
        {{/link-to}}

        {{#link-to "instrument-list"}}
            <li>Instrumenten</li>
        {{/link-to}}

    </ul>

</nav>


{{outlet}}