<nav>

    <ul>

        {{#link-to "index"}}
            <li>Home</li>
        {{/link-to}}

        {{#link-to "index"}}
            <li>Landen</li>
        {{/link-to}}
    
        {{#link-to "instrument-list"}}
            <li>Instrumenten</li>
        {{/link-to}}

    </ul>

</nav>


{{outlet}}