{{#each this.model as |instrument|}}
<article>
<h2>{{instrument.title}}</h2>
<h4>Beschrijving: </h4>
<p>{{instrument.description}}</p>
<img src={{instrument.image}} alt="">
</article>
{{/each}}


{{outlet}}